[submodule ".registry"]
	path = .registry
	url = https://github.com/spatlyu/spatlyu.r-universe.dev
	branch = HEAD
[submodule "geocn"]
	path = geocn
	url = https://github.com/SpatLyu/geocn
[submodule "sdsfun"]
	path = sdsfun
	url = https://github.com/SpatLyu/sdsfun
[submodule "spEcula"]
	path = spEcula
	url = https://github.com/SpatLyu/spEcula
[submodule "tidyrgeoda"]
	path = tidyrgeoda
	url = https://github.com/SpatLyu/tidyrgeoda
