[submodule ".registry"]
	path = .registry
	url = https://github.com/spatlyu/spatlyu.r-universe.dev
	branch = HEAD
[submodule "gdverse"]
	path = gdverse
	url = https://github.com/SpatLyu/gdverse
[submodule "spEcula"]
	path = spEcula
	url = https://github.com/SpatLyu/spEcula
[submodule "tidyrgeoda"]
	path = tidyrgeoda
	url = https://github.com/SpatLyu/tidyrgeoda
